<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
      }
    </style>
  </head>
  <body style="margin: 0; font-family: 'Poppins', sans-serif; background: #ffffff; font-size: 14px">
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="
        max-width: 700px;
        margin: 0 auto;
        background: url('https://raw.githubusercontent.com/DadangHawari/assets/main/cloud_background.webp')
          no-repeat;
        background-position: right;
      "
    >
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td style="padding: 45px 30px 60px; text-align: center">
                <img
                  src="https://raw.githubusercontent.com/DadangHawari/assets/main/ourair_logo.png"
                  height="80"
                />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="padding-inline: 20px">
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="100%"
            style="background: #ffffff; border-radius: 6px"
          >
            <tr>
              <td style="padding: 20px 16px; text-align: center">
                <div style="max-width: 489px; margin: 0 auto">
                  <p style="margin-top: 17px; font-size: 16px; font-weight: bold; color: #434343">
                    Halo,             <%=name%>
                  </p>
                  <p style="margin-top: 17px; font-weight: medium; letter-spacing: 0.5px">
                    Terima kasih telah mendaftar, gunakan kode OTP berikut untuk menyelesaikan
                    pendaftaran akun. OTP valid selama 5 menit.
                  </p>
                  <p
                    style="font-size: 40px; font-weight: bold; letter-spacing: 20px; color: #1177cb"
                  >
                  <%=otp%>
                  </p>
                  <b style="display: block; margin-bottom: 20px">Atau</b>
                  <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                      <td align="center" style="padding: 10px">
                        <a
                          href="https://google.com"
                          target="_blank"
                          style="
                            text-decoration: none;
                            color: #434343;
                            background-color: #cbe6f4;
                            border-radius: 10px;
                            padding: 10px;
                            display: inline-block;
                          "
                          >Aktivasi Sekarang</a
                        >
                      </td>
                    </tr>
                  </table>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
              <td style="padding: 40px; text-align: center">
                <p>Copyright &copy; OurAir Team</p>
                <a
                  style="text-decoration: none; color: #1177cb; font-size: 11px"
                  href="https://www.vecteezy.com/free-vector/cloud"
                  >Cloud Vectors by Vecteezy</a
                >
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
         